@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  main {
    @apply w-full flex flex-col items-center justify-center pb-20
    /* note that this approach isn't usually recommended */
    /* main components should be handled separately and in TSX */
  }

  h1 {
    @apply text-[1.2rem]
    /* font-size: 1.3rem; */
  }
  
  h2 {
    @apply text-[1.4rem] font-bold text-white mt-1
  }
}

/* components are how you make repeatable classes */
@layer components {
  .auth-tab {
    @apply flex flex-col justify-center items-center py-1 w-full rounded-b-2xl mt-24
  }
  
  .auth-form {
    @apply h-full w-full flex flex-col justify-start items-center gap-6 py-8 pt-8 pb-4 relative
  }

  .wide-button-front {
    @apply w-full h-full rounded-[1rem] bg-white uppercase font-bold text-[1rem] border-0 z-1
  }

  .auth-validation-indicator {
    @apply rounded-full absolute right-0 outline-[0.2rem] outline-white flex justify-center items-center
  }
  /* not a fully ready class – see ValidationIndicator.tsx to learn more about how it's used */

  .list-row-regular {
    @apply no-underline text-inherit flex items-center gap-4
  }
}

@layer utilities {
  .bg-auth-login {
    background-color: hsl(260, 70%, 35%);
  }

  .bg-auth-signup {
    background-color: hsl(320, 70%, 70%);
  }

  .inset-shadow-white-1 {
    box-shadow: inset 0 -0.2rem 0 white;
    /* TW can't handle insets with built-in classes*/
  }
}




/*  */

.Profile__TextEditWindow {
  width: 18rem;
  padding: 1rem 0 1rem 0;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  gap: 2rem;
}

.Profile__TextEditWindow h2 {
  color: black;
  font-size: 1.4rem;
  margin-top: 0.7rem;
}

.Profile__TextEditWindow form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: yellow;
  gap: 2rem;
  padding-bottom: 1rem;
}

.Profile__TextEditWindow__InputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Profile__TextEditWindow__InputDiv label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: hsl(0, 0%, 70%);
}

.Profile__TextEditor__CharCounter {
  font-size: 0.9rem;
}

.Profile__TextEditor__CharCounterError {
  color: hsl(0, 100%, 50%);
  font-weight: 600;
}

.Profile__TextEditWindow__InputDiv input {
  width: 100%;
  height: 2.2rem;
  border-radius: 0.5rem;
  border: 0.15rem solid hsl(0, 0%, 85%);
  font-size: 1rem;
  padding: 0 0.4rem;
}

.Profile__TextEditWindow__InputDiv textarea {
  width: 100%;
  height: 8rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 0.15rem solid hsl(0, 0%, 85%);
  font-size: 1rem;
  margin: 0;
}

.ButtonStereo {
  width: 100%;
  background-color: white;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 1.5rem;
  height: 2.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: -1rem;
}

.ButtonStereo::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 85%);
  border-radius: 1.5rem;
  position: absolute;
  bottom: -13%;
  left: 0;
  z-index: -1;
}

/* BS Texts (black is default) */
.BSText__White {
  color: white;
}

.BSText__Red {
  color: hsl(0, 70%, 80%);
}

/* BS Fills (white is default) */
.BSFill__Green {
  background-color: hsl(130, 70%, 50%);
}

/* BS Strokes (gray is default) */
.BSStroke__Green {
  border-color: hsl(130, 70%, 50%);
}

.BSStroke__Green::after {
  background-color: hsl(130, 70%, 90%);
}

.BSStroke__Red {
  border-color: hsl(0, 70%, 80%);
}

.BSStroke__Red::after {
  background-color: hsl(0, 80%, 90%);
}

/* 8. Friends List */

.profile_friends_sortingelement {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
}

.profile_friends_sortingbutton {
  color: hsl(130, 70%, 50%);
  padding: 0.2rem 0.5rem;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid hsl(130, 70%, 50%);
  font-weight: 700;
}

.profile_friends_sortingoptionswindow {
  color: hsl(0, 0%, 100%, 0.9);
  background-color: hsl(130, 70%, 50%);
  font-weight: 500;
  list-style: none;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  z-index: 1;
  top: 1.8rem;
  left: 4rem;
}

.profile_friends_sortingoptionactive {
  box-sizing: border-box;
  font-weight: 600;
  color: hsl(0, 0%, 100%, 1);
  border-bottom: 2px solid hsla(200, 0%, 100%, 1);
}

.profile_friends_sortingbuttonsymbol {
  font-size: 0.6rem;
  margin-left: 0.3rem;
}

/*  */
/* * */
/* * * */
/* * */
/*  */

/* ↓ C O M P O N E N T S */

/*  */
/* * */
/* * * */
/* * */
/*  */

/* component: ListRow */
.LR__Gen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.LR__Link,
.LR__LinkClipped {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.LR__LinkClipped {
  justify-content: flex-start;
  width: 85%;
}

.LR__ListOrder {
  margin-right: -0.3rem;
}

.LR__ProfileImage {
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(0, 0%, 90%);
  border-radius: 50%;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.LR__ProfileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LR__DeleteButton {
  background-color: hsl(0, 50%, 80%);
  color: white;
  border-radius: 50%;
  border: none;
  width: 1.9rem;
  height: 1.9rem;
  padding: 0.5rem;
  rotate: 45deg;
  font-size: 2.1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.55rem;
  padding-bottom: 0.65rem;
}

/* * */
/*  */
/* * */

/* component: Profile/CrossButton */
.ProfCross__Button {
  color: hsl(0, 0%, 70%);
  font-size: 3rem;
  background: none;
  border: none;
  rotate: 45deg;
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: yellow; */
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* * */
/*  */
/* * */

/* component section: Profile/DataSection */
/* component: Profile/DataSection/AboutSection */
.ProfAS__Section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.3rem;
}

.ProfAS__Section * {
  margin: 0;
}

/* * */
/*  */
/* * */

/* component: Profile/DataSection/DataSection */
.ProfDS__Section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  margin-top: 1.1rem;
  border: solid white;
  border-width: 0 0 1px 0;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 0;
}

.ProfDS__Section * {
  margin: 0;
}

.ProfDS__LowerMargin {
  padding-bottom: 2rem;
}

.ProfDS__Hyperlink {
  color: hsl(50, 90%, 70%);
  font-weight: 700;
  border: none;
  background: none;
  padding: 0;
}

.ProfDS__Hyperlink:disabled {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

/* * */
/*  */
/* * */

/* component: Profile/DataSection/FriendListWindow */
.ProfFLW__Section {
  top: 6rem;
  width: 18rem;
  min-height: 20.5rem;
  max-height: 22.5rem;
  padding: 1rem 0 1rem 0;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ProfFLW__H2 {
  color: black;
  font-size: 1.4rem;
  margin-top: 0.7rem;
  text-align: center;
}

/* component: Profile/DataSection/ListOfFriends */
.ProfLOF__ListWrapper {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

/* * */
/*  */
/* * */

/* * */
/*  */
/* * */

/* component section: Profile/ImageSection */
/* component: Profile/ImageSection/BGColorInput */
/* component: Profile/ImageSection/ImageInput */
.ProfImIn__Section {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  color: hsl(0, 0%, 80%);
}

.ProfImIn__H3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.ProfImIn__OptionRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.ProfImIn__CheckboxInput {
  display: none;
}

.ProfImIn__OptionSingle {
  font-size: 1.4rem;
  line-height: 1.5rem;
  border: 2px solid hsl(0, 0%, 85%);
  border-radius: 0.5rem;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
}

.ProfImIn__OptionSingleHighlighted {
  border: 4px solid hsl(50, 90%, 70%);
  background-color: hsla(50, 90%, 70%, 0.1);
}

/* * */
/*  */
/* * */

/* component: Profile/ImageSection/ImageEditForm */
.ProfIEF__DivGen {
  width: 18rem;
  padding: 1rem 0 1rem 0;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  gap: 2rem;
}

.ProfIEF__Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 2rem;
  padding-bottom: 1rem;
}

/* * */
/*  */
/* * */

/* component: Profile/ImageSection/ImageSection */
.ProfImg__Section {
  width: 80%;
  height: 10rem;
  margin-top: 1.5rem;
  background-color: white;
  border-radius: 1.5rem;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ProfImg__Avatar {
  width: 50%;
  height: 70%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ProfImg__AvatarHead {
  font-size: 6rem;
  position: absolute;
  bottom: 0.5rem;
  left: 17%;
  z-index: 1;
}

.ProfImg__AvatarBody {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.ProfImg__AvatarNeck {
  width: 4rem;
  height: 100%;
  background-color: hsl(0, 0%, 85%);
}

.ProfImg__AvatarShoulders {
  position: absolute;
  width: 80%;
  height: 1.5rem;
  background-color: hsl(0, 0%, 85%);
  bottom: 0;
}

.ProfImg__PencilButton {
  position: absolute;
  right: 5%;
  top: 9%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0.1rem solid hsl(0, 0%, 85%);
  border-radius: 0.8rem;
  color: hsl(0, 0%, 60%);
  background-color: white;
  rotate: 90deg;
  z-index: 1;
}

.ProfImg__PencilButtonBottom {
  position: absolute;
  right: 5%;
  top: 10.5%;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: hsl(0, 0%, 85%);
  z-index: 0;
}

/* * */
/*  */
/* * */

/* * */
/*  */
/* * */

/* component: Profile/PopupWindow */
.ProfPUW__Blurer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 6.5rem;
  backdrop-filter: blur(2px);
  background-color: hsla(130, 50%, 40%, 0.2);
}

.ProfPUW__DivGen {
  width: 18rem;
  padding: 1rem 0 1rem 0;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2rem;
}

/* * */
/*  */
/* * */

/* component: Profile/TextEditForm */
.ProfTEF__DivGen {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border: solid white;
  border-width: 0 0 1px 0;
  margin-top: 1rem;
}

.ProfPUW__DivGen h2 {
  color: black;
  font-size: 1.4rem;
  margin-top: 0.7rem;
}

/* * */
/*  */
/* * */

/* 1. Initially visible H1 & Gear Button */
.ProfTop__GearButton {
  position: absolute;
  right: 0;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2.3rem;
}

/* * */
/*  */
/* * */

/* component: WideButton */
.WButton__Button {
  width: 100%;
  background-color: white;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 1.5rem;
  height: 2.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: -1rem;
}

.WButton__Button::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  position: absolute;
  bottom: -13%;
  left: 0;
  z-index: -1;
}

.WButton__BehindGreen::after {
  background-color: hsl(130, 70%, 80%);
}

.WButton__BehindRed::after {
  background-color: hsl(0, 80%, 90%);
}