@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* elements */

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* INSTALL NUNITO!!! */
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

h2 {
  color: white;
  margin: 1rem 0 0 0;
}

/* classes */

.App__Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.screen,
.screen__Main {
  width: 100%;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}

@media (min-width: 500px) {

  .screen,
  .screen__Main {
    width: 360px;
    height: 600px;
  }
}

.screen__purple {
  background-color: hsl(260, 70%, 35%);
}

.screen__pink {
  background-color: hsl(320, 70%, 70%);
}

.auth__sectionbuttons {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0 0 0.2rem 0;
  border-color: white;
  position: fixed;
  z-index: 2;
}

@media (min-width: 500px) {
  .auth__sectionbuttons {
    width: 360px;
  }
}

.auth__topbutton,
.auth__topbuttonactive {
  width: 50%;
  height: 100%;
  border: none;
  background-color: inherit;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

.auth__topbuttonactive {
  box-shadow: 0 -0.2rem 0 white inset;
}

.auth__sectionform,
.auth__sectionform__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  margin-top: 6rem;
}

.auth__form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0 1rem 0;
  position: relative;
}

.auth__label {
  background-color: white;
  min-height: 6.5rem;
  width: 90%;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 600;
  color: hsl(0, 0%, 30%);
  position: relative;
  font-size: 1.1rem;
}

.auth__input {
  display: block;
  width: 100%;
  height: 1.8rem;
  border-radius: 1rem;
  border: 2.5px solid hsl(0, 0%, 90%);
  font-size: 1rem;
  padding: 0 2.4rem 0 0.5rem;
}

.auth__inputwrapper {
  position: relative;
  width: 100%;
}

.auth__formbuttondiv {
  position: relative;
  z-index: 0;
  width: 90%;
  height: 3rem;
}

.auth__formbutton,
.auth__formbuttonback,
.auth__formbuttonback__signup {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.auth__formbutton:disabled {
  color: hsl(265, 50%, 80%);
  background-color: hsl(265, 30%, 60%);
}

.auth__formbuttonback,
.auth__formbuttonback__signup {
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  background-color: hsl(272, 25%, 55%);
  z-index: -1;
}

.auth__formbuttonback__signup {
  background-color: hsl(300, 25%, 55%);
}

.warning {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(0, 0%, 40%);
  padding-bottom: 0.5rem;
}

.auth__inputindicator {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: hsl(265, 60%, 50%);
  position: absolute;
  bottom: 0;
  right: 0;
  outline: 0.2rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__inputindicator__check {
  color: white;
  font-size: 1.5rem;
}

.auth__inputindicatorissue {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: hsl(15, 70%, 55%);
  position: absolute;
  bottom: -0.2rem;
  right: 0;
  outline: 0.2rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__inputindicator__cross {
  color: white;
  font-size: 1.8rem;
}

/* * */
/* * * */
/* * * */
/* * */

/* people */
.Global__Screen {
  width: 100%;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}

@media (min-width: 500px) {
  .Global__Screen {
    width: 360px;
    height: 600px;
  }
}

.Global__Screen__Blue {
  color: hsl(0, 0%, 100%);
  background-color: hsl(200, 80%, 60%);
}

/* page: People */
/* 1. Header Section */
.Peop__HeaderDiv {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border: solid white;
  border-width: 0 0 1px 0;
  margin-top: 1rem;
}

/* 3. List of Profiles */
.Peop__LOP__List {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

/* component: ListRow */
.LR__Gen,
.LR__GenSelf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  /* background-color: blue; */
}

.LR__GenSelf {
  font-weight: 700;
  color: hsl(50, 90%, 70%);
}

.LR__Link,
.LR__LinkClipped {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.LR__LinkClipped {
  justify-content: flex-start;
  width: 85%;
}

.LR__ListOrder {
  margin-right: -0.3rem;
}

.LR__ProfileImage {
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(0, 0%, 90%);
  border-radius: 50%;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.LR__ProfileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LR__DeleteButton {
  background-color: hsl(0, 50%, 80%);
  color: white;
  border-radius: 50%;
  border: none;
  width: 1.9rem;
  height: 1.9rem;
  padding: 0.5rem;
  rotate: 45deg;
  font-size: 2.1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.55rem;
  padding-bottom: 0.65rem;
}

/* * */
/* * * */
/* * * */
/* * */

/* global */
.Global__H1__Centered {
  padding-left: 40%;
}

/* component: SortByButton */
.SBB__DivGen {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
}

.SBB__Button {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: none;
  font-weight: 700;
}

.SBB__ButtonArrow {
  font-size: 0.6rem;
  margin-left: 0.3rem;
}

.SBB__OptionsList {
  background-color: white;
  font-weight: 500;
  list-style: none;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  z-index: 1;
  top: 1.8rem;
  left: 4rem;
}

.SBB__OptionItemActive {
  box-sizing: border-box;
  font-weight: 600;
  border-bottom: 2px solid;
}